<br>
<br>
    <h3 id="subtest" align="center"> Ingrese los datos de envío</h3>
    <br>
    <br>
    <br>

    <center>
      <form novalidate name="form" id="pedido-form" role="form" ng-submit="ctrl.createPedido()">

      <div align="center" class="form-group col-md-12" >
          <label id="la" for="pedidoTelefono" class="col-md-2 control-label">Telefono</label>
          <div class="col-md-10">
              <input size="35" id="pedidoTelefono" name="pedidoTelefono" class="form-control" type="text" ng-model="pedidoTelefono"required />
          </div>
          <label id="la" for="pedidoDireccion" class="col-md-2 control-label">Dirección</label>
           <div class="col-md-10">
          <input size="35" id="pedidoDireccion" name="pedidoDireccion" class="form-control" type="text" ng-model="pedidoDireccion"required/>
          </div>

      </div>
                    <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <button style="width: 150px;" type="submit">Save</button>
                            <a style="width: 150px; background-color:red;" id="cancel-delete" ui-sref="pedidoClienteList" class="btn btn-info">Cancel</a>
                        </div>
                    </div>
      </form>
</center
