
<style>
    #con{


        margin:  auto;

        display: grid;

        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 20px;
        #info{
            color:white;
        }
        .card{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            flex: 0 1 calc(25% - 1em);

        }
        .centro{
            text-align: center;
        }

    }</style>


<div id="con" class='md-padding' >

    <input id="search" name="search" type="text" placeholder="Inserta el nombre del vinilo a buscar" style="background: transparent;" class="input-group-addon" >
    <center><input id="search_submit" value="Buscar" type="submit" class="btn btn-default" ui-sref="viniloListP({viniloNombreP:valor})"></center>
  

    <div  flex="40" class="card row" style="border-color:#fff;"   >
        <!--<img class="card-img-top" src="https://image.flaticon.com/icons/svg/13/13510.svg" alt="Card image cap">-->
        <div class="card-block col-sm-12 col-md-6 col-lg-3 col-xs-3" ng-repeat="vinilo in vinilos">

            <div class="thumbnail" style="background: transparent; background-color: transparent; border-color: transparent; border-width: 5px;">
                <md-card-content id = "info">
                    <hr><h2 style = "color: white">Vinilo N° {{vinilo.id}}</h2>
                    <h2 style = "color: white">{{vinilo.precio}} $</h2>


                    <div class="container">
                        <!-- Modal -->
                        <div class="modal fade" id="myModal{{$index}}" role="dialog" >
                            <div class="modal-dialog modal-lg" >
                                <div class="modal-content" >    
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <img class="card-img-top" src="https://image.flaticon.com/icons/svg/13/13510.svg" width="15%" height="15%" alt="Card image cap">
                                        <p>Descripción: {{vinilo.info.descripcion}}</p>
                                        <h4 class="modal-title centro"></h4>
                                        <table class="table table-responsive ">
                                            <thead>
                                                <tr>
                                                    <th>Id</th>
                                                    <th>Nombre</th>
                                                    <th>año</th>
                                                    <th>Existencias</th>
                                                    <th>Precio C/U</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>{{vinilo.id}}</td>
                                                    <td>{{vinilo.nombre}}</td>
                                                    <td>{{vinilo.anio}}</td>
                                                    <td>{{vinilo.cantUnidades}}</td>
                                                    <td>{{vinilo.precio}}   $</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="modal-body" >

                                        <table class="table table-responsive ">
                                            <thead>
                                                <tr>
                                                    <th>Cancion</th>
                                                    <th>Duracion</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody ng-repeat="cancion in vinilo.canciones">
                                                <tr>
                                                    <td>{{cancion.name}}</td>
                                                    <td>{{cancion.duracion}} minutos</td>
                                                    <td><iframe  ng-src="{{trustSrcurl(cancion.link)}}" width="300" height="100" frameborder="0" allowtransparency="true"></iframe></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <h4>Proveedor: {{vinilo.proveedor.name}}</h4>
                                        <h4>FeedBacks</h4>
                                        <table class="table table-responsive ">
                                            <thead>
                                                <tr>
                                                    <th>Id</th>
                                                    <th>calificacion</th>
                                                    <th>comentario</th>
                                                </tr>
                                            </thead>
                                            <tbody ng-repeat="feed in proveedorFull.feedBacks">
                                                <tr>
                                                    <td>{{feed.idFb}}</td>
                                                    <td>{{feed.calificacion}} minutos</td>
                                                    <td>{{feed.comentario}}</td>
                                                </tr>
                                            </tbody>
                                        </table>


                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <iframe ng-src="{{trustSrcurl(vinilo.canciones[0].link)}}" width="300" height="300" frameborder="0" allowtransparency="true"></iframe>

                </md-card-content>
                <a  style = "width: 50px;" id="add-btn" class="btn btn-default btn-sm" ng-click="ctrl.addToCart(vinilo.id)"><span class="glyphicon glyphicon-shopping-cart"></span></a>
                <!-- Boton que acciona el "modal" para ver la info de la cancion sin cambiar de estado -->
                <button ng-click="getProveedor(vinilo.proveedor.id)" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal{{$index}}" >Ver Más</button>
                <a ui-sref="viniloSee({viniloId: vinilo.id})">detalle</a>
            </div> 

        </div  >

    </div>


</div >



<body onload="checkCookie()">
</body>
<script>

    function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        var expires = "expires=" + d.toGMTString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }

    function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    function checkCookie() {
        var user = getCookie("username");
        if (user != "") {
            alert("Welcome again " + user);
        } else {
            user = prompt("Please enter your name:", "");
            if (user != "" && user != null) {
                setCookie("username", user, 30);
            }
        }
    }

</script>





