<div class="col-xs-6 col-sm-6 col-md-8 col-lg-12 well">

    <form novalidate name="form" id="vinilo-form" role="form" ng-submit="ctrl.editVinilo(currentVinilo.id)">

        <div ng-messages="form.$error">
            <div ng-message="required">Fill the required fields!</div>
        </div>

        <fieldset>
            <style>
                label {
                    color: #000;
                }
            </style>
            <input  class="form-control" type="hidden" ng-model="currentVinilo.id" />
            <div class="form-group col-md-12" >
                <label for="nombre" class="col-md-2 control-label">Nombre</label>
                <div class="col-md-10">
                    <input id="nombre" nombre="nombre" class="form-control" type="text" ng-model="viniloNombre" ng-init="viniloName" required />
                </div>
                <label for="anio" class="col-md-2 control-label">Anio</label>
                <div class="col-md-10">
                    <input id="anio" anio="anio" class="form-control" type="text" ng-model="viniloAnio" ng-init="viniloAnio" required/>
                </div>
                <label for="precio" class="col-md-2 control-label">Precio</label>
                <div class="col-md-10">
                    <input id="precio" nombre="precio" class="form-control" type="text" ng-model="viniloPrecio" ng-init="viniloPrecio" required />
                </div>
                <label for="cantUnidades" class="col-md-2 control-label">Cantidad de unidades</label>
                <div class="col-md-10">
                    <input id="cantUnidades" nombre="cantUnidades" class="form-control" type="text" ng-model="cantUnidades" ng-init="cantUnidades" required />
                </div>
            </div>
            <button id="-edit-btn" class="btn btn-default btn-sm" ui-sref="viniloList">Cancel</button>
            <button type="submit">Save</button>
        </fieldset>
    </form>
</div>
