<div  class="container-fluid">

  <nav class="navbar navbar-default navbar-fixed-top">

      <div class="collapse navbar-collapse" id="myNavbar">

          <ul class="nav navbar-nav navbar-left">


              <li><a  href="#!/vinilos">VINILOS</a></li>
              <li><a id="{{$index}}-pedidos-btn"  ui-sref="pedidoClienteList({pedidoClienteId:currentUsuario.id})">PEDIDOS</a></li>
              <li><a id="{{$index}}-edit-btn"  ui-sref="tarjetaSee({tarjetaId: tarjeta.id})"> TARJETAS</a></li>
              <li><a id="{{$index}}-crro-btn"  ui-sref="carritoUsuario({id:currentUsuario.id})"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>

          </ul>

      </div>

  </nav>
<br>
<br>
<br>
<br>
  <p id="subtest">Pedidos del Cliente</p></div>
    <br>
    <br>

    <a ng-init="ctrl.pedidosUsuario()"></a>

    <uib-accordion close-others="oneAtATime" ng-init="ctrl.getPedidosProveedor(pedido.id),ctrl.getPedidosProveedor(pedido.id) ">
    <div uib-accordion-group class="panel-default"
                        ng-repeat="pedido in pedidosRecords">
                        <uib-accordion-heading>

                          <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Estado</th>
                                    <th>Precio</th>
                                    <th>Dirección</th>
                                    <th>Telefono</th>
                                    <th>Fecha Estimada</th>

                                </tr>
                            </thead>
                      <tbody>
                          <td id="{{$index}}-estado">{{pedido.estado}}</td>
                          <td id="{{$index}}-precio">{{pedido.precio}}</td>
                          <td id="{{$index}}-direccion">{{pedido.direccion}}</td>
                          <td id="{{$index}}-telefono">{{pedido.telefono}}</td>
                          <td id="{{$index}}-telefono">{{pedido.pago.id}}</td>
                          <span ng-init="ctr.getPedidosProveedor(pedido.id)"></span>
                          <td><button ng-click="ctrl.cancelarPedido(pedido.id)" style="width:100px; background-color: #f44336;">Cancelar</button>
                          </td>
                          <td id="{{$index}}-edit"> <a class="btn btn-info" style="width:200px;" ui-sref="pedidoClienteUpdate({pedidoClienteId: pedido.id})"><span class="glyphicon glyphicon-edit"> Cambiar datos</span></a>
                          </td>
                          <td id="{{$index}}-trash"> <a class="btn btn-danger btn-sm" style="width:80px; background-color: #f44336;" ui-sref="pedidoClienteDelete({pedidoClienteId: pedido.id})"><span class="glyphicon glyphicon-trash"></span></a>
                          </td>
                              </tbody>
                          </table>
       <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}" ></i>

      </uib-accordion-heading> 


                        <div class="row">
                            <div class="col-md-3">
                                <a ng-init="ctrl.getPedidosProveedor(pedido.id)"></a>
                              <tr ng-repeat="pedidoProveedor in pedidosProveedorRecords">
                               <table class="table table-hover">
                    <thead>
                        <tr>

                            <th style="color:black" >ID</th>
                            <th style="color:black">Precio</th>
                            <th style="color:black">Fecha</th>


                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr ng-repeat="pedidoProveedor in pedidosProveedorRecords">
                            <td style ="font-weight: bold;color:black" {{$index}}-id">{{pedidoProveedor.id}}</td>
                            <td style ="font-weight: bold;color:black" {{$index}}-id">{{pedidoProveedor.precio}}</td>
                            <td style ="font-weight: bold;color:black" {{$index}}-id">{{pedidoProveedor.fecha | date:'yyyy-MM-dd'}}</td>
                            <td>

                                <button id="{{$index}}-edit-btn" class="btn btn-default btn-sm" ui-sref="pagoProveedorSee({pagoProveedoresId: pagoProvedor.id})"><span class="glyphicon glyphicon-edit"></span> Ver mas</button>

                            </td>
                        </tr>
                    </tbody>
                </table>


                              <hr>
                              <dt style="color:black;">Pago:</dt>
                              <dt style="color:black;">Precio</dt>
                              <dd style="color:black;">{{pagoPedido.precio}}</dd>
                              <dt style="color:black;">Fecha de Pago</dt>
                              <dd style="color:black;">{{pagoPedido.fechaPago| date:'yyyy-MM-dd'}}</dd>

                            </div>
                        </div>

  </div>
    </uib-accordion>





<script>


function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for(var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
    }
    return "";
}


</script>
