<div  class="container-fluid">

  <nav class="navbar navbar-default navbar-fixed-top">

      <div class="collapse navbar-collapse" id="myNavbar">

          <ul class="nav navbar-nav navbar-left">


              <li><a  href="#!/vinilos">VINILOS</a></li>
              <li><a id="{{$index}}-pedidos-btn"  ui-sref="pedidoClienteList({pedidoClienteId:currentUsuario.id})">PEDIDOS</a></li>
              <li><a id="{{$index}}-edit-btn"  ui-sref="tarjetaSee({tarjetaId: tarjeta.id})"> TARJETAS</a></li>
              <li><a id="{{$index}}-crro-btn"  ui-sref="carritoUsuario({id:currentUsuario.id})"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>

          </ul>

      </div>

  </nav>
<br>
<br>
<br>
    <h2>Pedidos del Cliente</h2></div>
    <br>
    <a ng-init="ctrl.pedidosUsuario()"></a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Estado</th>
                <th>Precio</th>
                <th>Dirección</th>
                <th>Telefono</th>
                <th>Fecha Estimada</th>
            </tr>
        </thead>
      </table>
    <uib-accordion close-others="oneAtATime">
    <div uib-accordion-group class="panel-default"
                        ng-repeat="pedido in pedidosRecords">
                        <uib-accordion-heading>
                          <table class="table table-striped">
                      <tbody>
                          <td id="{{$index}}-estado">{{pedido.estado}}</td>
                          <td id="{{$index}}-precio">{{pedido.precio}}</td>
                          <td id="{{$index}}-direccion">{{pedido.direccion}}</td>
                          <td id="{{$index}}-telefono">{{pedido.telefono}}</td>
                          <td id="{{$index}}-fechaEstimada">{{pedido.fechaEstimada}}</td>



                      
                      <td id="{{$index}}-edit"> <a class="btn btn-info" ui-sref="pedidoClienteUpdate({pedidoClienteId: pedido.id})"><span class="glyphicon glyphicon-edit"></span></a>
                      </td>
                      <td id="{{$index}}-trash"> <a class="btn btn-danger btn-sm" ui-sref="pedidoClienteDelete({pedidoClienteId: pedido.id})"><span class="glyphicon glyphicon-trash"></span></a>
                      </td>
                              </tbody>
                          </table>
       <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
      </uib-accordion-heading>

                        <div class="row">
                            <div class="col-md-3" is-open="ctrl.getPedidosProveedor(pedido.id)">

                              <tr ng-repeat="pedidoProveedor in pedidosProveedorRecords">

                                    <hr>
                                    <dt style="color:black;">Estado</dt>
                                    <dd style="color:black;">{{pedidoProveedor.estado}}</dd>

                                    <hr>
                                    <dt style="color:black;">Precio</dt>
                                    <dd style="color:black;">{{pedidoProveedor.precio}}</dd>
                                    <hr>
                                    <dt style="color:black;">Fecha Estimada</dt>
                                    <dd style="color:black;">{{pedidoProveedor.fechaEstimada| date:'yyyy-MM-dd'}}</dd>

                              </tr>

                              <hr>
                              <dt style="color:black;">Pago:</dt>
                              <dt style="color:black;">Precio</dt>
                              <dd style="color:black;">{{pagoPedido.precio}}</dd>
                              <dt style="color:black;">Fecha de Pago</dt>
                              <dd style="color:black;">{{pagoPedido.fechaPago| date:'yyyy-MM-dd'}}</dd>

                            </div>
                        </div>
    </div>
    </uib-accordion>



                <div id="id01" class="modal">
                  <form class="modal-content animate" action="/action_page.php">


                        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>

                        <div class="row">
                            <div class="col-md-3">
                              <tr ng-repeat="pedidoProveedor in pedidosProveedorRecords">

                                    <hr>
                                    <dt style="color:black;">Estado</dt>
                                    <dd style="color:black;">{{pedidoProveedor.estado}}</dd>

                                    <hr>
                                    <dt style="color:black;">Precio</dt>
                                    <dd style="color:black;">{{pedidoProveedor.precio}}</dd>
                                    <hr>
                                    <dt style="color:black;">Fecha Estimada</dt>
                                    <dd style="color:black;">{{pedidoProveedor.fechaEstimada| date:'yyyy-MM-dd'}}</dd>

                                    <a ng-init="ctrl.getPagoPedido()"></a>
                                    <hr>
                                    <dt style="color:black;">Pago:</dt>
                                    <dt style="color:black;">Precio</dt>
                                    <dd style="color:black;">{{pagoPedido.precio}}</dd>
                                    <dt style="color:black;">Fecha de Pago</dt>
                                    <dd style="color:black;">{{pagoPedido.fechaPago| date:'yyyy-MM-dd'}}</dd>


                              </tr>
                            </div>
                        </div>

                  <div class="container" style="background-color:#f1f1f1"></div>
                  </form>
                </div>

<script>


function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for(var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
    }
    return "";
}


</script>
