<div class="col-xs-6 col-sm-6 col-md-8 col-lg-12 well">

    <form novalidate name="form" id="usuario-form" role="form" ng-submit="ctrl.editUsuario(currentUsuario.id)">

        <div ng-messages="form.$error">
            <div ng-message="required">Fill the required fields!</div>
        </div>

        <fieldset>
            <input  class="form-control" type="hidden" ng-model="currentUsuario.id" />
            <div class="form-group col-md-12" >
                <label for="name" class="col-md-2 control-label">Name</label>
                <div class="col-md-10">
                    <input id="name" name="name" class="form-control" type="text" ng-model="currentUsuario.name" ng-init="currentUsuario.name" required />
                </div>
                <label for="email" class="col-md-2 control-label">Email</label>
                 <div class="col-md-10">
                <input id="email" email="email" class="form-control" type="text" ng-model="currentUsuario.email" ng-init="currentUsuario.email" required/>
                </div>
            </div>
            <button id="{{$index}}-edit-btn" class="btn btn-default btn-sm" ui-sref="usuarioSee({usuarioId: currentUsuario.id})">Cancel</button>
            <button type="submit">Save</button>
        </fieldset>
    </form>
</div>

