<div class="container-fluid">
    
    <h2 style ="font-weight: bold" >Información</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th style ="font-weight: bold; color:white" >Nombre  </th>
                <th style ="font-weight: bold; color:white" >Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style ="font-weight: bold" >{{proveedorActual.name}}</td>
                <td style ="font-weight: bold" >{{proveedorActual.email}}</td>
            </tr>
        </tbody>
    </table>
    
    <h2 style ="font-weight: bold" >Vinilos</h2>
     <table class="table table-hover" class="col-md-4">
        <thead>
            <tr>
                <th style ="font-weight: bold; color:white" >Nombre</th>
                <th style ="font-weight: bold;color:white" >Año</th>
            </tr>
        </thead>
        <tbody>
           <tr ng-repeat="vinilos in proveedorActual.vinilos">
                <td id="{{$index}}-name">{{vinilos.nombre}}</td>
                 <td id="{{$index}}-name">{{vinilos.anio}}</td>
        </tbody>
    </table>
 
    <h2 style ="font-weight: bold" >Feedbacks</h2>
      <table class="table table-hover" class="col-md-4">    
        <thead>
            <tr>
                <th style ="font-weight: bold; color:white" >Comentario</th>
                <th style ="font-weight: bold; color:white" >Calificacion</th>
                <th style ="font-weight: bold; color:white" >Acción</th>
            </tr>
        </thead>
        <tbody>
           <tr ng-repeat="feedback in proveedorActual.feedBacks">
                <td style ="font-weight: bold"  id="{{$index}}-name">{{feedback.comentario}}</td>
                <td style ="font-weight: bold"  id="{{$index}}-name">{{feedback.calificacion}}</td>
                <td>
                     <button style= "color:black" id="delete-fb-btn" class="btn btn-default btn-lg" ng-click="ctrl.deleteFeedback(feedback.id)"><span class="glyphicon glyphicon-trash"></span></button>
                </td>
        </tbody>
    </table>
          <button style= "color:black" id="delete-btn" class="btn btn-default btn-lg" ng-click="ctrl.deleteProveedor(proveedorActual)"><span class="glyphicon glyphicon-trash"></span></button>
          <button  style= "color:black" id="edit-btn" class="btn btn-default btn-lg" ui-sref="proveedorEdit({proveedorId: proveedorActual.id})"><span class="glyphicon glyphicon-edit"></span></button>
</div>
