<div class="container-fluid">
    <table class="table table-striped" class="col-md-4">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Id</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{currentRecord.name}}</td>
                <td>{{currentRecord.email}}</td>
                <td>{{currentRecord.id}}</td>
            </tr>
        </tbody>
    </table>
    
     <table class="table table-striped" class="col-md-4">
        <thead>
            <tr>
                <th>Vinilos</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
           <tr ng-repeat="vinilos in currentRecord.vinilos">
                <td id="{{$index}}-name">{{vinilos.nombre}}</td>
        </tbody>
    </table>
    
    <table class="table table-striped" class="col-md-4">
         <th>Feedbacks</th>
      <table class="table table-striped" class="col-md-4">    
        <thead>
            <tr>
                <th>Comentario</th>
                <th>Calificacion</th>
            </tr>
        </thead>
        <tbody>
           <tr ng-repeat="feedback in currentRecord.feedBacks">
                <td id="{{$index}}-name">{{feedback.comentario}}</td>
                <td id="{{$index}}-name">{{feedback.calificacion}}</td>
        </tbody>
    </table>
    </table>
         
</div>
