<!DOCTYPE html>

<form ng-submit="createPago()" pago="pago">
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="valor" class="col-sm-2">Valor a pagar:</label>
                            <input id="valorPago" required ng-model="valorPago" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="fecha" class="col-sm-2">Fecha de Pago:</label>
                            <input id="fechaPago" required ng-model="fechaPago" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!pago.$valid">
                            <div class="alert alert-warning">
                                <strong>Warning!</strong><p>All inputs are required*</p>
                            </div> 
                        </div> 
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <input ng-show="pago.$valid" type="submit" value="Save" class="btn btn-success"/>
                            <a class="btn btn-info" ui-sref="pagoClienteList">Cancel</a>
                        </div>
                    </div>
</form>
