<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><label ng-if="!edit" id="createVinilo">Create new Vinilo</label>
                <label ng-if="edit" id="editVinilo">Edit Vinilo</label></div>
            <div class="panel-body">
                <form ng-submit="createVinilo()" name="vinilo">
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="viniloName" class="col-sm-2">Name:</label>
                            <input id="viniloName" required ng-model="viniloNombre" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="viniloId" class="col-sm-2">Id:</label>
                            <input id="viniloId" required ng-model="viniloId" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="viniloPrecio" class="col-sm-2">Precio:</label>
                            <input id="viniloPrecio" required ng-model="viniloPrecio" class="col-sm-6">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="viniloCant" class="col-sm-2">Cant:</label>
                            <input id="viniloCant" required ng-model="viniloCant" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="viniloAnio" class="col-sm-2">Anio:</label>
                            <input id="viniloAnio" required ng-model="viniloAnio" class="col-sm-6"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!vinilo.$valid">

                            <div class="alert alert-warning" >
                                <strong>Warning!</strong><p>All inputs are required*</p>
                            </div> 
                        </div> 
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <input ng-show="vinilo.$valid" type="submit" value="Save" class="btn btn-success"/>
                            <a class="btn btn-info" ui-sref="vinilosList">Cancel</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


