<div class="col-xs-6 col-sm-6 col-md-8 col-lg-12 well">

    <form novalidate name="form" id="info-form" role="form" ng-submit="ctrl.editInfo(currentInfo.id)">

        <div ng-messages="form.$error">
            <div ng-message="required">Fill the required fields!</div>
        </div>

        <fieldset>
             <style>
            label {
color: #000;
}
</style>
            <input  class="form-control" type="hidden" ng-model="currentInfo.id" />
            <div class="form-group col-md-12" >
                <label for="id" class="col-md-2 control-label">Id</label>
                <div class="col-md-10">
                    <input id="id" nombre="id" class="form-control" type="text" ng-model="infoId" ng-init="infoId" required />
                </div>
                <label for="descripcion" class="col-md-2 control-label">Descripcion</label>
                 <div class="col-md-10">
                <input id="descripcion" descripcion="descripcion" class="form-control" type="text" ng-model="infoDescripcion" ng-init="infoDescripcion" required/>
                </div>
                <label for="rutas" class="col-md-2 control-label">Rutas</label>
                <div class="col-md-10">
                    <input id="rutas" nombre="rutas" class="form-control" type="text" ng-model="infoRutas" ng-init="infoRutas" required />
                </div>
                 <label for="url" class="col-md-2 control-label">Url</label>
                <div class="col-md-10">
                    <input id="url" nombre="url" class="form-control" type="text" ng-model="infoUrl" ng-init="infoUrl" required />
                </div>
            </div>
            <button id="-edit-btn" class="btn btn-default btn-sm" ui-sref="infoList">Cancel</button>
            <button type="submit">Save</button>
        </fieldset>
    </form>
</div>
